@import 'https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,600,700,900';

body {
    font-family: 'Source Sans Pro', sans-serif;
    color: #666666;
    font-weight: 500;
}

h1,
h2,
h3,
h4 {
    font-family: 'Source Sans Pro', sans-serif;
}

h1{
    font-size: 32px;
}

h2{
  font-size: 26px;
}

h3{
  font-size: 22px;
}

h4 {
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 500;
    margin-top: 50px;
}

table thead th, table thead td, table tfoot th, table tfoot td {
  font-weight: 500;
}

article.post {
    width: 100%;
}

p {
    padding-left: 10px;
    padding-right: 10px;
    /*margin-top: 25px;*/
    margin-bottom: 25px;
    font-size: 20px;
}

ul {
    padding-left: 10px;
    padding-right: 10px;
    /*margin-top: 25px;*/
    margin-bottom: 25px;
    font-size: 20px;
}

.image-center {
    margin: 0 auto;
    display: block;
}

::selection {
    color: white;
    background: #313131;
}

::-moz-selection {
    /* Code for Firefox */
    color: white;
    background: #313131;
}

code{
  padding: 2px 1px 2px 1px;
  border-radius: 4px;
  font-size: 85%;
  margin-left: 3px;
  margin-right: 3px;
  color: #313131;
  background-color: rgba(0, 0, 0, 0.04);
  border: 0px;
  font-family: Consolas, "Liberation Mono", Menlo, Courier, monospace;
}

pre{
  padding: 16px;
  overflow: auto;
  font-size: 85%;
  line-height: 1.45;
  background-color: #f7f7f7;
  color: #313131;
  border-radius: 3px;
}

pre code{
  padding: 0px;
  border-radius: 0px;
  font-size: 100%;
  margin-left: 0px;
  margin-right: 0px;
  color: #313131;
  background-color: rgba(0, 0, 0, 0);
  border: 0px;
  font-family: Consolas, "Liberation Mono", Menlo, Courier, monospace;
  white-space: pre-wrap;       /* Since CSS 2.1 */
  white-space: -moz-pre-wrap;  /* Mozilla, since 1999 */
  white-space: -pre-wrap;      /* Opera 4-6 */
  white-space: -o-pre-wrap;    /* Opera 7 */
  word-wrap: break-word;       /* Internet Explorer 5.5+ */
/*
  display: block;
  line-height: 1.3;
*/
}
img {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    user-drag: none;
    -moz-user-select: none;
    -webkit-user-drag: none;
}

.nav{
  margin-top: 30px;
  margin-left: 10px;
}

.navItem {
    color: #313131;
    font-size: 20px;
    /*margin: 10px;*/
    padding-left: 20px;
    font-weight: 700;
    height: inherit;
}

.navItem:hover { /*NOT REALLY HAPPY WITH THIS INTERACTION*/
    font-style: italic;
    color: #313131;
    /*text-decoration: underline;*/
}
/*
.navbar {
    background-color: #77013a;
    color: white;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-bottom: 50px;
    white-space: nowrap;
    overflow-x: scroll;
    overflow-y: hidden;
    -webkit-overflow-scrolling: touch;
}*/


/*
a {
    color: #313131;
    background: rgba(0, 0, 0, 0.2);
    display: inline;
    text-decoration: underline;
}

a:hover {
    color: #000;
}
*/

p a, li a {
  position: relative;
  text-decoration: none;
  display: inline-block;
  color: black;
  padding: 0 1px;
  transition: color ease 0.3s;
}
  p a::after, li a::after{
    content: '';
    position: absolute;
    z-index: -1;
    width: 100%;
    height: 10%;
    left: 0;
    bottom: 0;
    background-color: #313131;
    transition: all ease 0.3s;
  }

  p a:hover, li a:hover {
    color: white;
}
    p a:hover::after, li a:hover::after {
      height: 100%;
    }

td a {
  color: #313131;
  text-decoration: underline;
}

td a:hover{
  color: black;
}

.social {
    width: 60px;
    padding-left: 10px;
    padding-right: 10px;
}

.social:hover {
    opacity: 0.8;
}

.socialButton {
    width: 100%;
    color: white;
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: center;
    background-color: #ececec;
    margin: 5px;
}

.socialButton:hover {
    background-color: #cccccc;
}

footer {
    margin-top: 50px;
    background-color: #ECECEC;
    /*text-align: center;*/
    padding-top: 20px;
    padding-bottom: 20px;
}

body{
    /*background-color: #F9F9F9;*/
}

header {

    background: url(../img/InterchangeLogo.svg) no-repeat center center;
    background-size: 150%;
    background-position: 60% 52%;
    box-shadow: 0px -5px 20px -15px black inset;
    -webkit-box-shadow: 0px -5px 20px -15px black inset;
    -moz-box-shadow: 0px -5px 20px -15px black inset;
/*    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
*/
    height: 400px;
/*
    padding-top: 100px;
    padding-left: 90px;
    padding-right: 90px;
    font-size: 24px;
*/
    /*font-weight: 600;*/
    background-color: white;
    overflow: hidden;
    margin-bottom: 50px;

}

.button{
    padding: 20px 20px 20px 20px;
    font-size: 24px;
    border-radius: 5px;
  background-color: #313131;
}
.button:hover{
  background-color:black;
}

.buttonContainer{
  text-align: center;
  margin-top: 50px;
}

.registerButton{
  margin-bottom: 100px;
}

.formButton{
  margin-bottom: 100px;
}

.pagePosts{
    margin-top: 50px;
}

.post{
    margin-top: 30px;
}

.center{
    text-align: center;
}

.heroText{
    color: white;
    font-size: 60px;
    font-weight: 600;
    margin-top: 150px;
}

.thumbnail-tile {
    margin-bottom: 30px;
}

.thumbnail-container {
    position: relative;
    display: block;
    background-color: #000;
    opacity: 1;
}

.thumbnail-container:hover .thumbnail-text {
    opacity: 1;
}

.thumbnail-container:hover .thumbnail-image {
    opacity: 0.8;
}

.thumbnail-text {
    position: absolute;
    bottom: 20px;
    margin: 0 auto;
    left: 0;
    right: 0;
    color: #FFF;
    opacity: 0;
    text-shadow: 0px 0px 5px rgba(50, 50, 50, 1);
    font-size: 30px;
    line-height: 27px;
    text-align: center;
}

footer{
  color: #b5b5b5;
}

.footerLeft{
  line-height: 45px;
}

.footerRight{
  line-height: 45px;
}

div.medium-4.columns.footerRight{
  text-align:right;
}

.footerCenter{
  text-align: center;
}

.outerspace {
    background-color: #26153C;
    width: 100%;
    height: 300px;
    border-radius: 100%;
    background-image: url(../img/giraffe.svg);
    background-repeat: no-repeat;
    background-position: 50% 50px;
    border-style: solid;
    border-color: white;
    border-width: 10px;
}

#siteButton {
    width: 100%;
    background-color: #313131;
    font-size: 20px;
    color: white;
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: center;
    margin-top: 10px;
    /*margin-bottom: 25px;*/
}

#siteButton:hover {
    background-color: #000;
}

.copyright{
/*    font-size: 18px;*/
/*    font-weight: 600;*/
    color: #b5b5b5;
}
.rehanLogo{
  height: 18px;
}
.soaLogo{
  height: 40px;
  padding-left: 20px;
  padding-right: 20px;
}
.cmuLogo{
  height: 40px;
  padding-left: 20px;
  padding-right: 20px;
}

.noSelect{
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    user-drag: none;
    -moz-user-select: none;
    -webkit-user-drag: none;
}

.post-meta{
    margin-top: -10px;
}

.post-title{
    padding-left: 10px;
}

.pageTitle{
    margin-bottom: 50px;
}

.programTitle{
    margin-top: -10px;
    font-size: 18px;
}

.miniThumbnail{
    /*float: left;*/
    width: 100px;
}

.banner {
    position: absolute;
    top: -20px;
    right: -20px;
    width: 70px;
    height: 70px;
    line-height: 70px;
    font-size: 16px;
    text-align: center;
    border-radius: 100%;
    font-weight: 700;
    background-color: black;
    color: white;
}

.program-container {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  background-color: black;
  text-align: center;
  margin: auto;
  padding-top: 0px;
  padding-left: 10px;
  padding-right: 10px;
  text-shadow: 0px 0px 20px #666;
}

.verticalcenter {
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

.program-text {
  line-height: normal;
  font-weight: 700;
  color: white;
  font-size: 32px;
}

.program-subtext{
  margin-top: 0px;
  line-height: normal;
  font-weight: 500;
  color: white;
  font-size: 14px;
}

.program-extended-text {
    position: absolute;
    bottom: 20px;
    margin: 0 auto;
    left: 0;
    right: 0;
    color: #FFF;
    opacity: 0;
    text-shadow: 0px 0px 5px rgba(50, 50, 50, 1);
    font-size: 24px;
    line-height: 24px;
    text-align: center;
}

.thumbnail-container:hover .program-extended-text {
    opacity: 1;
}

.row{
  padding-left: 5px;
  padding-right: 5px;
}

iframe{
  height: 600px;
}
/*measurments pulled from foundation css file*/

/*for mobile friendly styling*/
@media screen and (max-width: 40em) {

  header{
    background-size: 400%;
    height: 200px;
    margin-bottom: 10px;
  }

  footerLeft, div.medium-4.columns.footerRight, footer{
    text-align: center;
  }

  .footerCenter{
    padding-top: 20px;
    padding-bottom: 20px;
  }

  .program-container{
    width: 130px;
    height: 130px;
  }

  .program-text{
    line-height: 130px;
    font-size: 28px;
  }

  .program-subtext {
    display: none;
  }

  .banner{
    top: 5px;
    right: 5px;
    width: 50px;
    height: 50px;
    line-height: 50px;
    font-size: 14px;
  }

  iframe{
    height: 220px;
  }

  .profileCol{
    margin-bottom: 10px;
  }

  .pageTitle{
    margin-bottom: 10px;
  }

}

/*for tablet friendly styling*/
@media screen and (max-width: 64em) {

  iframe{
    height: 360px;
  }
}
/* ************************************** */


.pro-pic-container {
    position: relative;
    display: block;
}
.pro-pic-container .BA:hover{
  background-color: #8ACDA5;
}
.pro-pic-container .BArch:hover{
  background-color: #346F88;
}
.pro-pic-container .MAAD:hover{
  background-color: #6CBD45;
}
.pro-pic-container .MArch:hover{
  background-color: #F8BC42;
}
.pro-pic-container .MSAECM:hover{
  background-color: #2EC1DD;
}
.pro-pic-container .MSBPD:hover{
  background-color: #6952A1;
}
.pro-pic-container .MSSD:hover{
  background-color: #E01EAE;
}
.pro-pic-container .MTID:hover{
  background-color: #F37820;
}
.pro-pic-container .MSCD:hover{
  background-color: #F6EB0F;
}
.pro-pic-container .MUD:hover{
  background-color: #EC1950;
}

.BA{ background-color: #8ACDA5}
.BArch{ background-color: #346F88}
.MAAD{ background-color: #6CBD45}
.MArch{ background-color: #F8BC42}
.MSAECM{ background-color: #2EC1DD}
.MSBPD{ background-color: #6952A1}
.MSSD{ background-color: #E01EAE}
.MTID{ background-color: #F37820}
.MSCD{ background-color: #F6EB0F}
.MUD{ background-color: #EC1950}

.BA:hover{ background-color: #72AB8B}
.BArch:hover{ background-color: #275C71}
.MAAD:hover{ background-color: #679448}
.MArch:hover{ background-color: #CB9B36}
.MSAECM:hover{ background-color: #4B96AB}
.MSBPD:hover{ background-color: #54477D}
.MSSD:hover{ background-color: #A43087}
.MTID:hover{ background-color: #B46731}
.MSCD:hover{ background-color: #C0B73F}
.MUD:hover{ background-color: #AC2E46}



/* ************************************** */
/*Custom Styling for Rehan*/

.contentButton {
    width: 100%;
    /*border-radius: 25px;
    background-color: #6cbe45;*/
    font-size: 30px;
    color: white;
    padding-top: 20px;
    padding-bottom: 20px;
    text-align: center;
}
.colorBotButton{
  background-color: #E82730;
}

.colorBotButton:hover{
  background-color: #C62632;
}
/* ************************************** */
