---
layout: default
---
<h1 class="h1 pageTitle center">About</h1>

  <p>
    Interchange is a recruiting event for the <a href="https://soa.cmu.edu/graduate/">Graduate Programs</a> at CMU SoA (Carnegie Mellon University School of Architecture) where we invite you to tour our labs and studios to view design and research work by students from seven Masters and four Doctoral programs. Interchange will be hosted in partnership with the Creative Arts Opportunities Conference (CAOC) career fair on February 23rd and 24th, 2017. Come to meet, greet, and visit our pop-up student showcase, where you can view and experience our work first hand, and conduct on-site interviews.
    <br><br>
    Questions? Contact <a href="mailto:jfabriz1@andrew.cmu.edu">James Fabrizio</a> (jfabriz1@andrew.cmu.edu) from College of Fine Arts Career and Professional Development Center
 </p>

  <div class="buttonContainer registerButton">
    <a href="https://app.joinhandshake.com/career_fairs">
      <div class="button">
        Register
      </div>
    </a>
  </div>

<div class="row" style="margin-left:0px; margin-right:0px; margin-bottom:40px;">
  <div class="small-12 medium-6 large-6 columns">
    <h1 class="h1 pageTitle center">Schedule</h1>
    <ul class="no-bullet">
      <li>Thursday, February 23, 2017</li>
      <li>10:00a – 2:00p</li>
      <li>Open studio tours</li>      
      <li class="listdetails"><a href="https://goo.gl/maps/e2tswDFEDfF2">Margaret Morrison</a> Carnegie Hall - 4th Floor</li>      
    </ul>
  </div>
  <div class="small-12 medium-6 large-6 columns">
    <h1 class="h1 pageTitle center">More Info</h1>
    <ul class="no-bullet">
      <li><a href="http://www.cmu.edu/visit/">Campus Map</a></li>
      <li><a href="http://www.cmu.edu/parking/about/locations.html">Parking</a></li>
      <li><a href="https://admission.enrollment.cmu.edu/pages/accommodations">Accommodation</a></li>
      <li><a href="https://www.cmu.edu/career/employers/attend-a-career-fair/spring-2017/CAOC.html">CAOC</a></li>
    </ul>
  </div>
</div>

<h1 class="h1 pageTitle center">Programs</h1>
  <div class="row" style="margin-left:0px; margin-right:0px;">
  <div class="small-6 medium-6 large-3 columns thumbnail-tile">
    <a class="post-link" target="_blank" href="http://soa.cmu.edu/maad">
      <div class="program-container MAAD"><div class="verticalcenter"><div class="program-text">MAAD</div> <div class="program-subtext">Master of Advanced Architectural Design</div></div></div>
    </a>
  </div>
  <div class="small-6 medium-6 large-3 columns thumbnail-tile">
    <a class="post-link" target="_blank" href="http://soa.cmu.edu/aecm">
      <div class="program-container MSAECM"><div class="verticalcenter"><div class="program-text">MSAECM</div> <div class="program-subtext">Master of Science in Architecture Engineer Construction Management</div></div></div>
    </a>
  </div>
  <div class="small-6 medium-6 large-3 columns thumbnail-tile">
    <a class="post-link" target="_blank" href="http://soa.cmu.edu/bpd-sd">
      <div class="program-container MSBPD"><div class="verticalcenter"><div class="program-text">MSBPD</div> <div class="program-subtext">Master of Science in Building Performance & Diagnostics</div></div></div>
    </a>
  </div>
  <div class="small-6 medium-6 large-3 columns thumbnail-tile">
    <a class="post-link" target="_blank" href="http://soa.cmu.edu/bpd-sd">
      <div class="program-container MSSD"><div class="verticalcenter"><div class="program-text">MSSD</div> <div class="program-subtext">Master of Science in Sustainable Design</div></div></div>
    </a>
  </div>
  <div class="small-6 medium-6 large-3 columns thumbnail-tile">
    <a class="post-link" target="_blank" href="http://soa.cmu.edu/mtid">
      <div class="program-container MTID"><div class="verticalcenter"><div class="program-text">MTID</div> <div class="program-subtext">Master of Tangible Interaction Design</div></div></div>
    </a>
  </div>
  <div class="small-6 medium-6 large-3 columns thumbnail-tile">
    <a class="post-link" target="_blank" href="http://soa.cmu.edu/computational-design">
      <div class="program-container MSCD"><div class="verticalcenter"><div class="program-text">MSCD</div> <div class="program-subtext">Master of Science in Computational Design</div></div></div>
    </a>
  </div>
  <div class="small-6 medium-6 large-3 columns thumbnail-tile">
    <a class="post-link" target="_blank" href="http://soa.cmu.edu/mud">
      <div class="program-container MUD"><div class="verticalcenter"><div class="program-text">MUD</div> <div class="program-subtext">Master of Urban Design</div></div></div>
    </a>
  </div>
  </div>

<!--Setting up featured projects-->
<!-- Add tag 'featured' to post-->
<h1 class="h1 pageTitle center" style="margin-top:50px;">Featured Projects (Coming Soon)</h1>

  {% for project in site.project %}
    {% for tag in project.tags %} <!--loop through all tags for a post-->
      {% if tag == "featured" %}
          <div class="small-6 medium-4 large-3 columns thumbnail-tile">
            <a class="post-link" href="{{ project.url | prepend: site.baseurl }}">
                <div class="thumbnail-container">
                <img class="thumbnail-image" src="img/thumbnails/{{ project.thumbnail }}">
                <span class="thumbnail-text">{{ project.tile-name }}</span>
                </div>
            </a>
        </div>
      {% endif %}
    {% endfor %}
  {% endfor %}


<!--
  <h1 class="h1 pageTitle center">Projects</h1>

  <div class="pagePosts">
    {% for post in site.posts %}
        {% if post.post-type == "project" %}
        <div class="post">
            <div class="post-meta">{{ post.date | date: "%b %-d, %Y" }}</div>
            <h2>
              <a class="post-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
            </h2>
            <div class="miniThumbnail">
                <img src="{{ post.thumbnail }}">
            </div>
          </div>
        {% endif %}
    {% endfor %}
 </div>

<h1 class="h1 pageTitle center">People</h1>

  <div class="pagePosts">
    {% for post in site.posts %}
        {% if post.post-type == "people" %}
        <div class="post">
            <div class="post-meta">{{ post.date | date: "%b %-d, %Y" }}</div>
            <h2>
              <a class="post-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
            </h2>
            <div class="miniThumbnail">
                <img src="{{ post.thumbnail }}">
            </div>
          </div>
        {% endif %}
    {% endfor %}
 </div>-->
