---
layout: default
---
<h1 class="h1 pageTitle center">About</h1>

  <p>
    Interchange is a recruiting event for the Undergraduate and Graduate programs at CMU SoA (Carnegie Mellon University School of Architecture) where we invite you to tour our labs and studios to view design and research work by students from two Undergraduate, seven Masters and four Doctoral programs. While usually in-person in students’ studios, Interchange will be going completely virtual in 2021! To gain access to the Interchange materials, employers are encouraged to registered under the Creative Arts Opportunities Conference on Handshake. Click below to register.
    <br><br>
    Questions? Contact <a href="mailto:cbusche@andrew.cmu.edu">Caedyn Busche</a> (cbusche@andrew.cmu.edu) from College of Fine Arts Career and Professional Development Center
 </p>

  <div class="buttonContainer registerButton">
    <a href="https://app.joinhandshake.com/career_fairs">
      <div class="button">
        Register
      </div>
    </a>
  </div>

<div class="row" style="margin-left:0px; margin-right:0px; margin-bottom:40px;">
  <div class="small-12 medium-6 large-6 columns">
    <h1 class="h1 pageTitle center">Schedule</h1>
    <ul class="no-bullet">
      <li><strong>Interchange (employers outreach to students)</strong></li>
      <li>February 17th 2021</li>
      <li><strong>Creative Arts Opportunities Conference</strong></li>
      <li>February 18th 2021, 2:30-6pm EST on Handshake</li>
      <li><strong>Interview Day</strong></li>
      <li>February 19th 2021</li>
    </ul>
  </div>
  <div class="small-12 medium-6 large-6 columns">
    <h1 class="h1 pageTitle center">More Info</h1>
    <ul class="no-bullet">
      <li><a target="_blank" href="https://www.cmu.edu/career/employers/recruit-and-post-jobs.html">Employers: Recruit & Post Jobs</a></li>
      <li><a target="_blank" href="https://www.cmu.edu/career/employers/hiring-and-offer-policy.html">CMU Hiring and Offer Policy</a></li>
      <li><a target="_blank" href="https://admission.enrollment.cmu.edu/pages/accommodations">Accommodation</a></li>
      <li><a target="_blank" href="https://www.cmu.edu/career/employers/caoc.html">CAOC</a></li>
    </ul>
  </div>
</div>

<h1 class="h1 pageTitle center">Programs</h1>
  <div class="row" style="margin-left:0px; margin-right:0px;">
  <div class="small-6 medium-6 large-3 columns thumbnail-tile">
    <a class="post-link" target="_blank" href="https://soa.cmu.edu/undergraduate/">
      <div class="program-container BA"><div class="verticalcenter"><div class="program-text">BA</div> <div class="program-subtext">Bachelor of Arts</div></div></div>
    </a>
  </div>
  <div class="small-6 medium-6 large-3 columns thumbnail-tile">
    <a class="post-link" target="_blank" href="https://soa.cmu.edu/undergraduate/">
      <div class="program-container BArch"><div class="verticalcenter"><div class="program-text">B.Arch</div> <div class="program-subtext">Bachelor of Architecture</div></div></div>
    </a>
  </div>
  <div class="small-6 medium-6 large-3 columns thumbnail-tile">
    <a class="post-link" target="_blank" href="http://soa.cmu.edu/maad">
      <div class="program-container MAAD"><div class="verticalcenter"><div class="program-text">MAAD</div> <div class="program-subtext">Master of Advanced Architectural Design</div></div></div>
    </a>
  </div>
  <div class="small-6 medium-6 large-3 columns thumbnail-tile">
    <a class="post-link" target="_blank" href="https://soa.cmu.edu/march">
      <div class="program-container MArch"><div class="verticalcenter"><div class="program-text">M.Arch</div> <div class="program-subtext">Master of Architecture</div></div></div>
    </a>
  </div>
  <div class="small-6 medium-6 large-3 columns thumbnail-tile">
    <a class="post-link" target="_blank" href="http://soa.cmu.edu/aecm">
      <div class="program-container MSAECM"><div class="verticalcenter"><div class="program-text">MSAECM</div> <div class="program-subtext">Master of Science in Architecture Engineering Construction Management</div></div></div>
    </a>
  </div>
  <div class="small-6 medium-6 large-3 columns thumbnail-tile">
    <a class="post-link" target="_blank" href="http://soa.cmu.edu/bpd">
      <div class="program-container MS-BPD"><div class="verticalcenter"><div class="program-text">MSBPD</div> <div class="program-subtext">Master of Science in Building Performance & Diagnostics</div></div></div>
    </a>
  </div>
  <div class="small-6 medium-6 large-3 columns thumbnail-tile">
    <a class="post-link" target="_blank" href="https://soa.cmu.edu/bpd/">
      <div class="program-container PhD-BPD"><div class="verticalcenter"><div class="program-text">PhDBPD</div> <div class="program-subtext">PhD In
Building Performance & Diagnostics</div></div></div>
    </a>
  </div>
  <div class="small-6 medium-6 large-3 columns thumbnail-tile">
    <a class="post-link" target="_blank" href="http://soa.cmu.edu/mssd">
      <div class="program-container MSSD"><div class="verticalcenter"><div class="program-text">MSSD</div> <div class="program-subtext">Master of Science in Sustainable Design</div></div></div>
    </a>
  </div>
  
  <div class="small-6 medium-6 large-3 columns thumbnail-tile">
    <a class="post-link" target="_blank" href="http://soa.cmu.edu/computational-design">
      <div class="program-container MS-CD"><div class="verticalcenter"><div class="program-text">MSCD</div> <div class="program-subtext">Master of Science in Computational Design</div></div></div>
    </a>
  </div>
  <div class="small-6 medium-6 large-3 columns thumbnail-tile">
    <a class="post-link" target="_blank" href="https://soa.cmu.edu/phdcd">
      <div class="program-container PhD-CD"><div class="verticalcenter"><div class="program-text">PhDCD</div> <div class="program-subtext">PhD in Computational Design</div></div></div>
    </a>
  </div>
  <div class="small-6 medium-6 large-3 columns thumbnail-tile">
    <a class="post-link" target="_blank" href="http://soa.cmu.edu/mud">
      <div class="program-container MUD"><div class="verticalcenter"><div class="program-text">MUD</div> <div class="program-subtext">Master of Urban Design</div></div></div>
    </a>
  </div>
  </div>

<!--Setting up featured projects-->
<!-- Add tag 'featured' to post-->
<!--<h1 class="h1 pageTitle center" style="margin-top:50px;">Featured Projects (Coming Soon)</h1>-->

  {% for project in site.project %}
    {% for tag in project.tags %} <!--loop through all tags for a post-->
      {% if tag == "featured" %}
          <div class="small-6 medium-4 large-3 columns thumbnail-tile">
            <a class="post-link" href="{{ project.url | prepend: site.baseurl }}">
                <div class="thumbnail-container">
                <img class="thumbnail-image" src="img/thumbnails/{{ project.thumbnail }}">
                <span class="thumbnail-text">{{ project.tile-name }}</span>
                </div>
            </a>
        </div>
      {% endif %}
    {% endfor %}
  {% endfor %}


<!--
  <h1 class="h1 pageTitle center">Projects</h1>

  <div class="pagePosts">
    {% for post in site.posts %}
        {% if post.post-type == "project" %}
        <div class="post">
            <div class="post-meta">{{ post.date | date: "%b %-d, %Y" }}</div>
            <h2>
              <a class="post-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
            </h2>
            <div class="miniThumbnail">
                <img src="{{ post.thumbnail }}">
            </div>
          </div>
        {% endif %}
    {% endfor %}
 </div>

<h1 class="h1 pageTitle center">People</h1>

  <div class="pagePosts">
    {% for post in site.posts %}
        {% if post.post-type == "people" %}
        <div class="post">
            <div class="post-meta">{{ post.date | date: "%b %-d, %Y" }}</div>
            <h2>
              <a class="post-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
            </h2>
            <div class="miniThumbnail">
                <img src="{{ post.thumbnail }}">
            </div>
          </div>
        {% endif %}
    {% endfor %}
 </div>-->
