---
layout: noCol
title: People
hero-text: "Who is part of the team"
---
<div class="row">
    <h1 class="pageTitle center">Students</h1>
        <div class="row">
            {% for post in site.posts %}
                {% if post.post-type == "people" %}
                    {% if post.person-type == "student" %}
                        <div class="small-12 medium-4 large-3 columns thumbnail-tile">
                            <a class="post-link" href="{{ post.url | prepend: site.baseurl }}">
                                <div class="thumbnail-container">
                                <img class="thumbnail-image" src="{{ post.thumbnail }}">
                                <span class="thumbnail-text">{{ post.tile-name }}</span>
                                </div>
                            </a>
                        </div>
                    {% endif %}
                {% endif %}
            {% endfor %}
        </div>
    <h1 class="center">Faculty</h1>
            <div class="row">
            {% for post in site.posts %}
                {% if post.post-type == "people" %}
                    {% if post.person-type == "faculty" %}
                        <div class="small-12 medium-4 large-3 columns thumbnail-tile">
                            <a class="post-link" href="{{ post.url | prepend: site.baseurl }}">
                                <div class="thumbnail-container">
                                <img class="thumbnail-image" src="{{ post.thumbnail }}">
                                <span class="thumbnail-text">{{ post.tile-name }}</span>
                                </div>
                            </a>
                        </div>
                    {% endif %}
                {% endif %}
            {% endfor %}
        </div>
    <h1 class="center">Alumni</h1>
            <div class="row">
            {% for post in site.posts %}
                {% if post.post-type == "people" %}
                    {% if post.person-type == "alumni" %}
                        <div class="small-12 medium-4 large-2 columns thumbnail-tile">
                            <a class="post-link" href="{{ post.url | prepend: site.baseurl }}">
                                <div class="thumbnail-container">
                                <img class="thumbnail-image" src="{{ post.thumbnail }}">
                                <span class="thumbnail-text">{{ post.tile-name }}</span>
                                </div>
                            </a>
                        </div>
                    {% endif %}
                {% endif %}
            {% endfor %}
        </div>    
</div>