<footer class="site-footer">
  <div class="row">
    <div class="medium-4 columns"> 
<!--      <a target="_blank" href="/upload">Student Guide</a>
      <br>--><span class="copyright noSelect">Copyright Interchange</span> </div>
    <div class="medium-4 columns medium-offset-4" style="text-align:right;"> 
      <span class="fa-stack fa-1x">
        <i class="fa fa-pencil fa-stack-1x"></i>
      </span> 
      with 
      <span class="fa-stack fa-1x">
        <i class="fa fa-heart fa-stack-1x"></i>
      </span>
      by &nbsp;
      <a href="http://rehanbutt.com"><img class="rehanLogo" src="img/rehanLogo.svg"></a>
    </div>
  </div>
</footer>
<!--<script>
      Google Analytics goes here
</script>-->